<!doctype html>
<!--[if lt IE 8]>  <html class="no-js ie lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>     <html class="no-js ie lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if gte IE 9]> <html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if !IE]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Yarr! - {% block pagetitle %}{% endblock%}</title>

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% assets "css_all" -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {%- endassets %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>

    <div class="jumbotron">
        <h1>Yarr!</h1>
        <p>Find the best torrent from The Pirate Bay.</p>
        {% block content %}{% endblock %}
    </div>

    {% assets "js_all" %}
        <script href="{{ ASSET_URL }}"></script>
    {% endassets %}

</body>
</html>