{% extends "base.html" %}

{% block pagetitle %}Search{% endblock %}

{% block content %}

    <form class="form-inline search-form" role="form" action="{{ url_for('search') }}" method="get">
        <div class="form-group">
            <label for="query">Search for...</label>&nbsp;
            <input type="text" name="q" class="form-control" id="query" placeholder="game of thrones">&nbsp;
        </div>
        <button type="submit" class="btn btn-primary">Find it</button>
    </form>

{% endblock %}
