
.github-ribbon {
     position: absolute;
     top: 0;
     right: 0;
}

.github-ribbon img {
    border: 0;
}

.jumbotron {
    width: 700px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -350px;
    text-align: center;
}

.search-form {
    padding-top: 20px;
}

.color-black {
    color: #000;
}

.results {
    width: 90%;
    margin: 30px auto 0 auto;
}
